<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>iMatch</title>
		<link href="/assets/styles.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div id="background">
			<div id="Background">
				<img src="/assets/images/Background.png">
			</div>

			<div id="InnerFrame">
			<img src="/assets/images/InnerFrame.png">
			</div>

			<div id="VectorSmartObject">
				<img src="/assets/images/VectorSmartObject.png">
			</div>
			<div id="Logo">
				<img src="/assets/images/Logo.png">
			</div>

			<div id="Photoframe">
				{% block index %}{% endblock %}
				{% block upload %}{% endblock %}
				{% block show_img %}{% endblock %}
			</div>

			<div id="BacktoHome">
				<a href="/index"><img src="/assets/images/BacktoHome.png">
			</div>

			<div id="Saveas">
				<a href="/save"><img src="/assets/images/Saveas.png"></a>
			</div>

			<div id="NewDiary">
				<img src="/assets/images/NewDiary.png">
			</div>

			<div id="AddNewphoto">
				<img src="/assets/images/AddNewphoto.png">
			</div>

			<div id="Deletephoto">
				<img src="/assets/images/Deletephoto.png">
			</div>
		</div>
 </body>
 </html>