{% extends "layout.html" %}
{% block show_img %}
    {% for id in range(1, 4) %}
        {% if img_dict[id] %}
            <div id="Photoframe{{ id }}">
                <img src="/static/{{ img_dict[id] }}" alt="picture one" height="155" width="157">
            </div>
        {% else %}
            <div id="Photoframe{{ id }}">
                <a href="/addimage/{{ id }}" class="button"><img src="/assets/images/Photoframe{{ id }}.png"></a>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}