 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 554px;
	 height: 618px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Background 
{ 
	 left: 71px; 
	 top: 0px; 
	 position: absolute; 
	 width: 411px;
	 height: 618px;
	 z-index:1;
} 

 #InnerFrame 
{ 
	 left: 99px; 
	 top: 52px; 
	 position: absolute; 
	 width: 356px;
	 height: 514px;
	 z-index:2;
} 

 #VectorSmartObject 
{ 
	 left: -827px; 
	 top: 851px; 
	 position: absolute; 
	 width: 143px;
	 height: 140px;
	 z-index:3;
} 

 #Logo 
{ 
	 left: 99px; 
	 top: 5px; 
	 position: absolute; 
	 width: 65px;
	 height: 42px;
	 z-index:4;
} 

 #Photoframe3 
{ 
	 left: 199px; 
	 top: 57px; 
	 position: absolute; 
	 width: 157px;
	 height: 155px;
	 z-index:5;
} 

 #Photoframe2 
{ 
	 left: 199px; 
	 top: 399px; 
	 position: absolute; 
	 width: 157px;
	 height: 155px;
	 z-index:6;
} 

 #Photoframe1 
{ 
	 left: 199px; 
	 top: 228px; 
	 position: absolute; 
	 width: 157px;
	 height: 155px;
	 z-index:7;
} 

 #BacktoHome 
{ 
	 left: 267px; 
	 top: 583px; 
	 position: absolute; 
	 width: 23px;
	 height: 21px;
	 z-index:8;
} 

 #Saveas 
{ 
	 left: 429px; 
	 top: 583px; 
	 position: absolute; 
	 width: 22px;
	 height: 22px;
	 z-index:9;
} 

 #NewDiary 
{ 
	 left: 102px; 
	 top: 583px; 
	 position: absolute; 
	 width: 17px;
	 height: 22px;
	 z-index:10;
} 

 #AddNewphoto 
{ 
	 left: 164px; 
	 top: 583px; 
	 position: absolute; 
	 width: 21px;
	 height: 22px;
	 z-index:11;
} 

 #Deletephoto 
{ 
	 left: 220px; 
	 top: 582px; 
	 position: absolute; 
	 width: 17px;
	 height: 23px;
	 z-index:12;
} 
